Welcome {{userName}}, you are logged in as an Admin.</p>
<center>
<form>
    <div>
        <label for="searchGeneric">Search by P.O./P.R. Number, Initiator, Date Created, or Vendor</label>
        <br>
        <input id="searchGeneric" type="search" name="q" aria-label="Search by P.O./P.R. Number, Initiator, Date Created, or Vendor">
        <br><br>
        <button class="btn btn-info" id="searchButton">Search</button>
    </div>
</form>
</center>
{{{userLinks}}}
