<center>
<p>Welcome {{userName}}, you are logged in as an Admin.</p>

<form>
    <div>
        <label for="searchGeneric"><h2>Search by P.O./P.R. Number, Initiator, Date Created, or Vendor</h2></label>
        <br>
        <input id="searchGeneric" class="inputField" type="search" name="q" aria-label="Search by P.O./P.R. Number, Initiator, Date Created, or Vendor">
        <br><br>
        <button class="btn btn-info" id="searchButton">Search</button>
    </div>
</form>
</center>
{{{userLinks}}}
