<form method='POST' action='/admin/config'>
  <div class="container form-group">
    <input type="text" placeholder="Last Name" name="lastName" id="lastName" class="inputField" required>
    <br>
    <input type="text" placeholder="First Name" name="firstName" id="firstName" class="inputField" required>
    <br>
    <input class="inputField" type="text" placeholder="Email" name="Email" id="email" class="inputField" required>
    <br>
    <input class="inputField" type="text" placeholder="Staff ID" name="staffId" id="staffId" class="inputField" required>
    <br>
    <input class="inputField" type="text" placeholder="Security Role" name="securityRole" id="securityRole" class="inputField" required>
    <br>
    <input class="inputField" type="password" placeholder="Password" name="password" id="password" class="inputField" required>
    <br>
    <input class="inputField" type="password" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword" required>
    <br><br>
    <button class="btn" type="submit" id="submit">Complete</button>
  </div>
</form>
