<form method='POST' action='/admin/config'>
  <div class="container form-group">
    <input type="text" placeholder="Last Name" name="lastName" id="lastName" required>
    <br>
    <input type="text" placeholder="First Name" name="firstName" id="firstName" required>
    <br>
    <input type="text" placeholder="Email" name="Email" id="email" required>
    <br>
    <input type="text" placeholder="Staff ID" name="staffId" id="staffId" required>
    <br>
    <input type="text" placeholder="Security Role" name="securityRole" id="securityRole" required>
    <br>
    <input type="password" placeholder="Password" name="password" id="password" required>
    <br>
    <input type="password" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword" required>
    <br>
    <br>
    <button class="btn btn-info" type="submit" id="submit">Complete</button>
  </div>
</form>
