<div class="row">
    <h2 class="col-md-4">Create Request</h2>
</div>
<form class="form-control">
    <div class="container">
        <div class="row">
            <label class="formLabel" for="dateNeeded">Date Needed</label>
        </div>
        <div class="row">
            <input class="formInput" type="date" id="dateNeeded" required>
        </div>
        <div class="row">
            <button class="btn btn-info" id="addItem" type="button" data-toggle="modal" data-target="#itemModal">Add Item</button>
        </div>
        <div class="row" id="modalInfo">
        </div>
        <div class="row">
            <label class="formLabel col-md-4" for="taxRate">Tax Rate</label>
            <label class="formLabel col-md-4" for="estShip">Estimated Shipping</label>
        </div>
        <div class="row">
            <input class="formInput col-md-4" type="number" id="taxRate" step="0.01">
            <input class="formInput col-md-4" type="number" id="estShip" step="0.01">
        </div>
        <div class="row">
            <label class="formLabel col-md-4" for="justify">Justification</label>
            <label class="formLabel col-md-4" for="comments">Comments</label>
        </div>
        <div class="row">
            <textarea class="formInput" name="justify" id="justify" cols="45" rows="4" required></textarea>
            <textarea class="formInput" name="comments" id="comments" cols="45" rows="4"></textarea>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-info col-md-4" id="saveRequest">Save Request</button>
    </div>
</form>

<div id="itemModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Item</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <label class="formLabel col-md-4" for="itemName">Item</label>
                        <label class="formLabel col-md-4" for="quant">Quantity</label>
                    </div>
                    <div class="row">
                        <input class="formInput col-md-4" type="text" name="itemName" id="itemName">
                        <input class="formInput col-md-4" type="number" id="quant">
                    </div>
                    <div class="row">

                        <label class="formLabel col-md-4" for="measureUnit">Unit of Measurement</label>
                        <label class="formLabel col-md-4" for="estPrice">Estimated Dollar Amount</label>
                    </div>
                    <div class="row">
                        <select class="formInput col-md-4" name="measureUnit" id="measureUnit">
                            <option value="" selected>Select a unit</option>
                            <option value="bottle">Bottle</option>
                            <option value="box">Box</option>
                            <option value="carton">Carton</option>
                            <option value="case">Case</option>
                            <option value="dozen">Dozen</option>
                            <option value="each">Each</option>
                            <option value="foot">Foot</option>
                            <option value="gallon">Gallon</option>
                            <option value="gross">Gross</option>
                            <option value="hour">Hour</option>
                            <option value="hundred">Hundred</option>
                            <option value="job">Job</option>
                            <option value="length">Length</option>
                            <option value="lot">Lot</option>
                            <option value="month">Month</option>
                            <option value="other">Other</option>
                            <option value="pair">Pair</option>
                            <option value="package">Package</option>
                            <option value="pound">Pound</option>
                            <option value="quart">Quart</option>
                            <option value="ream">Ream</option>
                            <option value="roll">Roll</option>
                            <option value="sack">Sack</option>
                            <option value="set">Set</option>
                            <option value="thousand">Thousand</option>
                            <option value="yard">Yard</option>
                            <option value="year">Year</option>
                        </select>
                        <input class="formInput col-md-4" type="number" id="estPrice" step="0.01">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info" id="addBtn">Add</button>
                    <button type="submit" class="btn btn-info" id="saveBtn">Save</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
 $(document).ready(function () {
        $("#saveBtn").on("click", function () {
            var modalInfo = {
                itemName: $("#itemName").val().trim(),
                quantity: $("#quant").val().trim(),
                measureUnit: $("#measureUnit").val(),
                estimatedPrice: $("#estPrice").val().trim()
            }
            console.log("farts");
            $("#newItemName").append(`<p>Item Name: ${modalInfo.itemName}</p>`)
            $("#newItemQuant").append(`<p>Quantity: ${modalInfo.quantity}</p>`)
            $("#newItemMeasure").append(`<p>Unit of Measure: ${modalInfo.measureUnit}</p>`)
            $("#newItemPrice").append(`<p>Estimated Price: ${modalInfo.estimatedPrice}</p>`)
            console.log("poo");
        })
    })
</script>