<form>
    <div class="container form-group">
        <input type="text" placeholder="Username" name="uname" id="uname" required>
        <br>
        <input type="password" placeholder="Password" name="psw" id="password" required>
        <br>
        <br>
        <button class="btn" type="submit" id="submit">Login</button>
    </div>
</form>