<center>
  <form method='POST' action='/'>
    <div class="container form-group">
        <input type="text" placeholder="Staff ID" name="staffId" id="staffId" class="inputField" required>
        <br>
        <input type="password" placeholder="Password" name="password" id="password" class="inputField" required>
        <br>
        <br>
        <button class="btn" type="submit" id="submit">Login</button>
    </div>
</form>
</center>
