<form method='POST' action='/'>
    <div class="container form-group">
        <input type="text" placeholder="Staff ID" name="staffId" id="staffId" required>
        <br>
        <input type="password" placeholder="Password" name="password" id="password" required>
        <br>
        <br>
        <button class="btn btn-info" type="submit" id="submit">Login</button>
    </div>
</form>
