<center>
  <form method='POST' action='/'>
    <div class="container form-group">
        <input type="text" placeholder="Staff ID" name="staffId" id="staffId" class="inputField" required>
        <br>
        <input type="password" placeholder="Password" name="password" id="password" class="inputField" required>
        <br>
        <br>
        <button class="btn" type="submit" id="submit">Login</button>
    </div>
</form>
<h2>Welcome to TRAX. It’s a purchasing and inventory tracking system designed for the State of Washington. This system includes functionality to create, search, edit and approve purchase requests and orders. Purchase requests will be tracked from creation stage to the receipt of items. Once items have been received they can be logged into our inventory system for tracking.</h2>
</center>
