<!--We only need one welcome page, and handlebars will do the rest! Yay! -->

<p>Welcome, {{userName}}, you are logged in as {{userRole}}.</p>

<form>
    <div>
        <label for="searchGeneric">Search by P.O./P.R. Number, Initiator, Date Created, or Vendor</label>
        <input id="searchGeneric" type="search" name="q" aria-label="Search by P.O./P.R. Number, Initiator, Date Created, or Vendor">
        <br><br>
        <button class="btn btn-info" id="searchButton">Search</button>
    </div>
</form>

{{{userLinks}}}

