body {
  background-color: #CDE5E5;
  }

button {
    margin: 10px;
    background-color: #325C73;
    color: white;
}

h2 {
    margin-left: 130px
}
img {
  margin-top: 20px;
  border-radius: 5px;
}

.formLabel {
    margin: 10px 10px 10px 0px
}

.formInput {
    margin: 10px
}

.inputField {
  margin: 10px;
  border: 2px solid #325C73;
  border-radius: 5px;
}
