p {
  line-height: 70%;
}

body {
  background-color: #CDE5E5;
  font-family: 'Assistant', sans-serif;
}

button {
  padding: 5px;
  margin: 10px;
  background-color: #325C73;
  color: white;
}

img {
  margin: 20px;
  border-radius: 5px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
}

.modal-body {
  background-color: #CDE5E5;
}

.modal-header {
  background-color: #CDE5E5;
}

.modal-footer {
  background-color: #CDE5E5;
}

.formLabel {
  margin: 10px 10px 10px 0px
}

.formInput {
  margin: 10px
}

.inputField {
  padding: 5px;
  margin: 10px;
  border: 2px solid #325C73;
  border-radius: 5px;
}

#userDatabase {
  background-color: #CDE5E5;
}

#mainForm {
  background-color: #CDE5E5;
}

#userLastLabel {
  margin-left: 15px;
}

#userEmailLabel {
  margin-left: 15px;
}

#accountStatusLabel {
  margin-left: 15px;
}

#saveRequest {
  margin-left: 147px;
}

#finalTotal {
  margin-top: 10px;
  border: 2px solid #325C73;
  background-color: white;
}
