<!DOCTYPE html>
<html lang="en">
<html>

<head>
  <meta charset="utf-8">
  <title>Purchasing and Inventory Tracking System</title>

  <!--jquery-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

  <!--bootstrap 4.0-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
    crossorigin="anonymous"></script>
  <!--This is a bootstrap template I like to use. We don't have to use it. Just throwing it out there-->
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-FzkHk/sZxl/KbNoSMiA0TgjqdV7ka8VPX/i/Nf2EyhH28i1EVaZ7uf2EEDBBHBo5"
    crossorigin="anonymous">

  <!--CSS-->
  <link rel="stylesheet" href="public/css/style.css">

  <!--javascript files-->
  <script src="public/js/admin.js"></script>
  <script src="public/js/initiator.js"></script>
  <script src="public/js/reviewer.js"></script>

</head>

<body>
  {{{ body }}}
</body>

</html>